
<ul>
	<li>send broadcast to notify user that page saved</li>
	<li>
		Repeater: Take a list of block types and save, then use that to generate the groups
	</li>
</ul>

<div class="col-12">
	<%= form_tag "#" do |bf| %>
		<div class="form-group">
			<%= label_tag "Add new" %>

			<div class="input-group mb-3">
			  <%= select_tag :type, options_for_select(Block.avaiable_blocks), { class: "form-control" } %>

		    <div class="input-group-append">
		    	<% data = { reflex: "click->block#create", post_id: post.id } %>
		    	<%= submit_tag "Add", class: "btn btn-danger", data: data %>
		    </div>
			</div>
		</div>
	<% end %>
</div>

<div class="col-12">
	<hr>
</div>

<% data = {} %>
<%= form_with model: post, local: true, html: { data: data, class: "row mt-5" } do |f| %>
	<div class="col-12">
		<div class="form-group">
			<%= f.label :title %>
			<%= f.text_field :title, class: "form-control", data: { reflex: "blur->post#update" } %>
		  <%= content_tag :span, "The title of the post", class: "form-text text-muted" %>
		</div>
	</div>

	<div class="col-12 block-group">
		<% f.object.blocks.positioned.top_level.each do |block| %>
				<%= f.fields_for :blocks, block do |bf| %>
					<div
						class="row"
						data-id="<%= block.id %>"
						data-post_id="<%= block.post_id %>"
						data-controller="drag"
						data-drag-url="/posts/:post_id/blocks/:id/move"
					>
						<div class="col-12 mb-3">
							<div class="row">
								<div class="col-1">
									<a href="#" class="js-sortable-handle btn btn-light btn-sm" style="color: black;">&#10021;</a>
								</div>

								<div class="col-10">
									<div class="control-group">
										<h5><%= bf.object.title %></h5>

									  <%= render "posts/partials/block_form", f: bf, post: f.object %>
									</div>
								</div>

								<div class="col-1">
							  	<%== link_to "#", method: :delete, data: { post_id: block.post.id, id: block.id, reflex: "click->Block#destroy" }, class: "btn btn-danger btn-sm", id: "delete-#{block.id}" do %>
					  		  	&#10005;
					  	  	<% end %>
					  	  </div>
							</div>
						</div>
					</div>
				<% end %>
		<% end if f.object.blocks.any? %>
	</div>
<% end %>
