<% data = {} %>
<%= form_with model: post, local: true, html: { data: data } do |f| %>
	<div class="form-group">
		<%= f.label :title %>
		<%= f.text_field :title, class: "form-control" %>
	  <%= content_tag :span, "The title of the post", class: "form-text text-muted" %>
	</div>

	<%= f.fields_for :blocks, f.object.blocks.build do |bf| %>
		<div class="form-group">
			<%= bf.label "Add new" %>
			<% options = %w(Blocks::Text Blocks::Textarea) %>

			<div class="input-group mb-3">
			  <%= bf.select :type, options_for_select(options, bf.object.type), { include_blank: "Select..." }, { class: "form-control" } %>

		    <div class="input-group-append">
		    	<% data = { reflex: "click->block#create", post_id: f.object.id } %>
		    	<%= f.submit "Add", class: "btn btn-danger", data: data %>
		    </div>
			</div>
		</div>

	<% end %>

	<hr>

	<% f.object.blocks.positioned.each do |block| %>
		<%= f.fields_for :blocks, block do |bf| %>
			<%= render "posts/partials/block_form", f: bf %>
		<% end %>
	<% end if f.object.blocks.any? %>

	<hr>

	<%= f.submit "Submit", class: "btn btn-danger" %>
<% end %>


Structure:

title at top, updated on save
then section for blocks, selecting the type, and onsubmit, the reflex adds it to the post and reloads
then just list blocks
