<div class="form-group row">
	<div class="col-12">
		<div data-post-id="<%= post.id %>">
		  <div data-parent-id="<%= f.object.id %>" data-parent-type="Blocks::Repeater">
		  	<%= text_field_tag :content, {}, value: f.object.content, class: "form-control" %>

		    <% data = { reflex: "click->block#create", "reflex-dataset": "combined", post_id: post.id } %>
		    <%= submit_tag "Add", class: "btn btn-danger", data: data %>
		  </div>
		</div>
	</div>

	<%= render "posts/partials/group", f: f, post: post %>
</div>
